body {
  margin: 0px;
  background: #efefef;
  /* background: linear-gradient(45deg, #49a09d, #5f2c82); */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-weight: 100;
}
.nav{
  background: #37b2e2;
  /* background: linear-gradient(45deg, #4d8d99, #5f2c82); */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
#table_background{
  background: linear-gradient(45deg, #4d8d99, #5f2c82);
}
table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
th,td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff !important;
}
th {
  background-color: #55608f;
}
td:last-child,th:last-child{
  text-align: center;
}
.update,.remove{
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
.update{
  margin-right: 16px;
  padding: 1px 5px;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.remove{
  padding: 1px 7px;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.form>button{
  border-radius: 5px;
}